[data-theme="dark"] {
  background-color: rgb(26, 26, 26) !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .card-body {
  background-color: rgb(71, 71, 71) !important;
}